*, body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

/* STYLES FOR LIGHT MODE */

.App {
    width: 100vw;
    height: 100vh;
}

.themeContainer {
    text-align: right;
}

.themeButton {
    padding: 2rem;
    outline: none;
    cursor: pointer;
    margin: 2rem 2rem 0 0;
    font-size: 2.5rem;
    border-radius: 50%;
    border: 3px solid #000;
    background-color: #fff;
}

/* STYLES FOR DARK MODE */

.darkThemeApp {
    background-color: #333333;
}

.darkThemeButton {
    color: #fff;
    border: 3px solid #fff;
    background-color: #333333;
}